/*colors: https://coolors.co/app/040f0f-248232-2ba84a-2d3a3a-fcfffc*/

footer {
  width: 100%;
  height: 10%;
}

footer p {
  padding-top: 2rem;
}

body {
  min-height: 100vh;
}

.list-group {
  background-color: #2D3A3A;
}

.completed {
  text-decoration: line-through;
}

.placeholder {
  background-color:  #2D3A3A;
  border: 1px solid #ddd;
  height: 5rem;
}

ul {
  min-height: 5rem;
}

.checkbox {
  padding-right: 2rem;
}

.inputTodo {
  padding-bottom: 2rem;
}

.jumbotron, footer {
  background-color: #2BA84A;
}

.delete {
  padding-top: 1rem;
}

.list-group-item {
  font-size: 2rem;
}

.well {
  background-color: #040F0F;
  margin: 2rem;
  border-radius: 4px;
}

h2 {
  color: #ccc;
}
