/*colors: https://coolors.co/app/040f0f-248232-2ba84a-2d3a3a-fcfffc*/
body {
  min-height: 100vh;
}

.jumbotron {
  min-height: 20vh;

}

.jumbotron, header, footer, body {
  background-color: #2BA84A;
  padding: 0;
  margin: 0;
}

main, .container-fluid {
  background-color: #e3e3e3;
  width: 100%;
  min-height: 70vh;
}

footer {
  width: 100%;
  min-height: 5vh;
}

footer p {
  padding-top: 2rem;
}

.list-group {
  background-color: #e3e3e3;
}

.completed {
  text-decoration: line-through;
}

.placeholder {
  background-color:  #2D3A3A;
  border: 1px solid #ddd;
  height: 5rem;
}

ul {
  min-height: 5rem;
}

.checkbox {
  padding-right: 2rem;
}

.inputTodo {
  padding: 2rem 0;
}

.inputTodo input {
  background-color: #e3e3e3;
}

.inputTodo button {
  background-color: #e3e3e3;
}

.inputTodo button:hover {
  background-color: blue;
}

.delete {
  padding-top: 1rem;
  color: #e3e3e3;
  -webkit-transition: color .8s;
  transition: color .8s;
}

li:hover .delete {
  color: red;
}

.list-group-item {
  font-size: 2rem;
  background-color: #e3e3e3;
}

.well {
  background-color: #040F0F;
  border-radius: 4px;
  border: 15px solid #e3e3e3;
  margin-top: 20px;
}

h2 {
  color: #ccc;
}
